<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ed.pokemon">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_league"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5_d5kie_OmPUr-EqQS18rrXLoNoJBMsA" />

        <activity android:name=".Battle" />
        <activity android:name=".Team" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CharacterSelect" />
        <activity android:name=".ShowTeamPoke" />
        <activity android:name=".Mochila" />
    </application>

</manifest>